# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.a

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# geth.ipc is used  as a convenience symlink to the Geth IPC socket for manual
# testing whose location will differ between users.
geth.ipc

cryptohopper
